pms-srv/pms-srv-schemas/src/main/resources/wsdl/ProjectService_V19_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 targetNamespace="http://evry.com/fs/payment/pms/services/ProjectService_V19_1/" 
 xmlns:tns="http://evry.com/fs/payment/pms/services/ProjectService_V19_1/"
 xmlns:pms = "http://evry.com/fs/payment/pms"
  name="ProjectService_V19_1" >
   
    <wsdl:types>
    <xsd:schema targetNamespace="http://evry.com/fs/payment/pms/services/ProjectService_V19_1/">
            <xsd:import namespace="http://evry.com/fs/payment/pms"
                schemaLocation="../xsd/project-v19_1.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addProjectRequest">
    <wsdl:part element="pms:addProjectRequestType" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addProjectResponse">
    <wsdl:part element="pms:addProjectResponseType" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getProjectInfoRequest">
    <wsdl:part element="pms:getProjectInfoRequestType" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getProjectInfoResponse">
    <wsdl:part element="pms:getProjectInfoResponseType" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateProjectRequest">
    <wsdl:part element="pms:updateProjectRequestType" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="updateProjectResponse">
    <wsdl:part element="pms:updateProjectResponseType" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getAllProjectsRequest">
    <wsdl:part element="pms:getAllProjectsRequestType" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getAllProjectsResponse">
    <wsdl:part element="pms:getAllProjectsResponseType" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteProjectRequest">
    <wsdl:part element="pms:deleteProjectRequestType" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="deleteProjectResponse">
    <wsdl:part element="pms:deleteProjectResponseType" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="ProjectService_V19_1">
    <wsdl:operation name="addProject">
      <wsdl:input message="tns:addProjectRequest"/>
      <wsdl:output message="tns:addProjectResponse"/>
    </wsdl:operation>
     <wsdl:operation name="getProjectInfo">
      <wsdl:input message="tns:getProjectInfoRequest"/>
      <wsdl:output message="tns:getProjectInfoResponse"/>
    </wsdl:operation>
     <wsdl:operation name="updateProject">
      <wsdl:input message="tns:updateProjectRequest"/>
      <wsdl:output message="tns:updateProjectResponse"/>
    </wsdl:operation>
     <wsdl:operation name="getAllProjects">
       <wsdl:input message="tns:getAllProjectsRequest"/>
      <wsdl:output message="tns:getAllProjectsResponse"/>
    </wsdl:operation>
     <wsdl:operation name="deleteProject">
      <wsdl:input message="tns:deleteProjectRequest"/>
      <wsdl:output message="tns:deleteProjectResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProjectService_V19_1SOAPBinding" type="tns:ProjectService_V19_1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addProject">
      <soap:operation soapAction="http://www.example.org/ProjectService_V19_1/addProject"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectInfo">
      <soap:operation soapAction="http://evry.com/fs/payment/pms/services/ProjectService_V19_1/getProjectInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProject">
      <soap:operation soapAction="http://evry.com/fs/payment/pms/services/ProjectService_V19_1/updateProject"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProjects">
      <soap:operation soapAction="http://evry.com/fs/payment/pms/services/ProjectService_V19_1/getAllProjects"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="deleteProject">
      <soap:operation soapAction="http://evry.com/fs/payment/pms/services/ProjectService_V19_1/deleteProject"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProjectService_V19_1">
    <wsdl:port binding="tns:ProjectService_V19_1SOAPBinding" name="ProjectService_V19_1_Port">
      <soap:address location="http://localhost:3456/pms-srv-ws/services/wsservice/projectServiceV191?wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
